@model  cRegis.Web.ViewModels.CourseCommentViewModel

    <div class="card">
        <div class="card-body">
            <h5 class="card-title">@Model.ratingScore</h5>
            <p class="card-text">@Model.comment</p>
        </div>
    </div>