@model cReg_WebApp.Models.ViewModels.CompleteCourseViewModel
@{
    ViewData["Title"] = "Complete";
}
<h1>Complete</h1>

<h4>Below are all of your completed courses</h4>

<table class="table">
    <thead>
        <tr>
            <th>
                Course Code
            </th>
            <th>
                Course Name
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.keyValues)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Value.courseName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Value.courseDescription)
                </td>
                <td>
                    <a asp-controller="RateCourse" asp-action="index" asp-route-cid="@Model.">Rate</a>
                </td>
            </tr>
        }
    </tbody>
</table>