@model cReg_WebApp.Models.ViewModels.HomeViewModels.FindCourseViewModel
@using cReg_WebApp.Models.entities;
@{
    ViewData["Title"] = "Register Page";
    if (null != TempData["alertMessage"])
    {
        <script type="text/javascript">
       alert('@TempData["alertMessage"]');
        </script>
    }
}

@section Scripts{
    <script src="https://cdn.jsdelivr.net/npm/@@tarekraafat/autocomplete.js@@7.2.0/dist/js/autoComplete.min.js"></script>
    <script src="~/js/searchCourses.js"></script>
}
<html>
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@@tarekraafat/autocomplete.js@@7.2.0/dist/css/autoComplete.min.css">
</head>

<body>
    <div>
        <input id="autoComplete" tabindex="1" />
    </div>
    <div class="container">
        @foreach(var course in Model.courseList) { 
            @await Html.PartialAsync("_courseContainer", course);
        }
    </div>

</body>
</html>