@model IEnumerable<cReg_WebApp.Models.Objects.Course>

@{
    ViewData["Title"] = "CourseInfo";
}
<!DOCTYPE html>

<h1>CourseInfo</h1>

<p>Course's Description: blah blah</p>

<table class="table">
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SectionId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    <button onclick="testFunc()">Register</button>
                </td>
            </tr>
        }
    </tbody>
</table>

<div>
    <a asp-action="RegisterPage">Back to Register</a>
</div>